/* COMMONS ----------------------------------------------------------------- */
.ms_my-user img,
.ms_main .ms_main-header img {
    height: 30px;
    border-radius: 50%;
}

/* BACKGROUND ------------------------------------------------------------- */
.ms_bg {
    /* background-color: #dbdbd1; */
    height: 100vh;
    background: linear-gradient(0deg, #dbdbd1 82%, #019688 18%);    
}

.ms_white-bg {
    background-color: #fff;
    height: calc(100vh - 40px);
    width: 800px;
    border: #bbb 1px solid;
}

/* SIDEBAR -------------------------------------------------------------------*/
.ms_sidebar {
    width: 35%;
}

.ms_my-user,
.ms_notifications {
    height: 50px;
}

/* my user */
.ms_my-user {
    background-color: #eee;
}

.ms_my-user span {
    font-size: 12px;
}

.ms_my-user .ms_right i {
    margin: 0 5px;
    color: #bbb;
    font-size: 15px;
}

/* notifcations */
.ms_notifications {
    background-color: #8edafc;
}

.ms_notifications .ms_bell {
    color: #8edafc;
    border-radius: 50%;
    background-color: #fff;
    padding: 7px 5px;
    font-size: 12px;
}

.ms_notifications-info p {
    margin: 0;
}

.ms_notifications .ms_notifications-info .ms_info {
    font-size: 10px;
    font-weight: 500;
}

.ms_notifications .ms_notifications-info .ms_info-b {
    font-size: 7px;
    color: #888;
    text-decoration: underline;
}
 
/* filter-contacts */
.ms_filter-contacts {
    height: 30px;
    background-color: #f8f8f8;
}

.ms_filter-contacts i,
.ms_filter-contacts input {
    font-size: 10px;
}

.ms_filter-contacts input {
    border: none;
    width: 200px;
}

.ms_filter-contacts i {
    color: #aaa;
}

/* contacts */
.ms_contacts {
    height: calc(100% - 130px);
}

.ms_single-contact {
    height: 50px;
}

.ms_single-contact img {
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
}

.ms_single-contact span {
    font-size: 12px;
    vertical-align: text-top;
    font-weight: 500;
}

.ms_contact-color-even {
    background-color: #eee;
}

/* MAIN --------------------------------------------------------------------- */
.ms_main {
    width: 65%;
    background-image: url(../img/mine.jpg);
    border-left: #bbb 1px solid;
}

.ms_main .ms_main-header,
.ms_main .ms_message-input {
    height: 50px;
}

/* main header */
.ms_main .ms_main-header {
    background-color: #eee;
}

.ms_main .ms_main-header p {
    margin: 0;
}

.ms_main .ms_main-header .ms_info {
    font-size: 10px;
    font-weight: 500;
}

.ms_main .ms_main-header .ms_info-b {
    font-size: 7px;
    color: #888;
}

.ms_main .ms_right i {
    margin: 0 5px;
    color: #bbb;
    font-size: 15px;
}

/* text/messages space */
.ms_text-space p {
    margin: 0;
}

.ms_text-space .ms_messages-container {
    max-height: 445px;
    overflow-y: auto;
}

.ms_text-space .ms_single-message {
    border-radius: 10px;
}

.ms_text-space .ms_single-message .ms_left p:first-child {
    font-size: 12px;
}
.ms_text-space .ms_date {
    font-size: 8px;
    color: #888;
}

.ms_text-space .ms_sent {
    background-color: #d4f9b9;
    align-self: end;
}

.ms_text-space .ms_received {
    background-color: #fff;
    align-self: start;
}

.ms_text-space .ms_single-message .ms_icon-dropdown {
    opacity: 0;
}

.ms_text-space .ms_single-message:hover .ms_icon-dropdown {
    opacity: 100%;
}

.ms_text-space .ms_dropdown-content {
    display: none;
    background-color: #fff;
    z-index: 1000;
    width: fit-content;
    box-shadow: 1px 1px 2px #aaa;
}

.ms_text-space .ms_dropdown-content p {
    font-size: 10px;
}

/* main message input zone */
.ms_main .ms_message-input {
    background-color: #f3eee9;
}

.ms_main .ms_message-input i {
    color: #777;
}

.ms_main .ms_message-input input {
    border: none;
}

.ms_main .ms_message-input input::placeholder {
    font-size: 12px;
}