<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE BOOLZAPP</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- background styling -->
    <div class="position-relative ms_bg">

        <!-- main app-container -->
        <div class="position-absolute top-50 start-50 translate-middle ms_white-bg">
            <div class="h-100" id="app">
                <div class="d-flex h-100 ms_container">
                    <!-- sidebar -->
                    <div class="h-100 ms_sidebar">

                        <!-- my-user -->
                        <div class="d-flex justify-content-between my-auto ms_my-user">
                            <div class="my-auto ms-2 ms_left">
                                <img src="img/avatar_io.jpg" alt="avatar_io">
                                <span>Nome Utente</span>
                            </div>

                            <div class="my-auto me-2 ms_right">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <!-- / my-user -->

                        <!-- notifications -->
                        <div class="d-flex ms_notifications">
                            <i class="fas fa-bell-slash my-auto ms-2 ms_bell"></i>
                            <div class="my-auto ms-2 ms_notifications-info">
                                <p class="ms_info">Ricevi notifiche di nuovi messaggi</p>
                                <p class="ms_info-b">Attiva notifiche desktop</p>
                            </div>
                        </div>
                        <!-- / notifications -->

                        <!-- contacts filter -->
                        <div class="ps-3 ms_filter-contacts">
                            <i class="fas fa-search"></i>
                            <input 
                                placeholder="Cerca o inizia una nuova chat"
                                v-model="filterInput"
                                >
                        </div>
                        <!-- / contacts filter -->

                        <!-- contacts' list -->
                        <div class="ms_contacts">
                            <div v-for="(contact, i) in contacts"
                                :class="{'ms_contact-color-even' : i % 2 === 0}"
                                @click="chooseChat(i)"
                                >
                                <div class="ms_single-contact" 
                                    v-if="contact.name.toLowerCase().includes(filterInput)">
                                    <img class="ms-3"
                                        :src=" 'img/avatar' + contact.avatar + '.jpg' " 
                                        :alt="contact.name + ' image' "
                                    >
                                    <span>
                                        {{contact.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- / contacts' list -->
                    </div>
                    <!-- / sidebar -->

                    <!-- main -->
                    <div class="d-flex flex-column h-100 ms_main">
                        <!-- main header -->
                        <div class="d-flex justify-content-between ms_main-header">
                            
                            <div class="my-auto ms-2 d-flex ms_left">
                                <img :src=" 'img/avatar' + contacts[currentCounterIndex].avatar + '.jpg'" alt="avatar_1">
                                <div class="my-auto ms-2 ms_notifications-info">
                                    <p class="ms_info">{{contacts[currentCounterIndex].name}}</p>
                                    <p class="ms_info-b">Ultimo accesso {{getLastOnline(currentCounterIndex)}}</p>
                                </div>
                            </div>

                            <div class="my-auto me-2 ms_right">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <!-- / main header -->

                        <!-- text space -->
                        <div class="flex-grow-1 ms_text-space">
                            <div class="h-100 px-5 pt-3 d-flex flex-column ms_messages-container">
                                <div v-for="(message, messageInd) in contacts[currentCounterIndex].messages"
                                    class="d-flex justify-content-between position-relative my-2 p-2 ms_single-message" 
                                    :class="message.status === 'sent' ? 'ms_sent' : 'ms_received'"
                                    >
                                    <div class="ms_left">
                                        <p>{{message.text}}</p>
                                        <p class="ms_date">{{message.date}}</p>
                                    </div>

                                    <div class="ms-3 ms_right">
                                        <i class="fas fa-chevron-down"
                                            @click="openDropdown(messageInd)"></i>
                                        <div class="position-absolute top-60 start-50 p-2 ms_dropdown-content" 
                                            :class="{'d-block' : active === true}"
                                            v-if="messageInd === messageIndex">
                                            <p>Message info</p>
                                            <p @click="deleteMessage(messageInd, currentCounterIndex)">Delete message</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / text space -->

                        <!-- message input zone -->
                        <div class="d-flex py-2 px-3 ms_message-input">
                            <i class="far fa-smile my-auto"></i>
                            <input class="flex-grow-1 mx-3"
                                placeholder="Scrivi un messaggio"
                                v-model="temporaryInput"
                                @keyup.enter="sendMessage(currentCounterIndex)"
                                >
                            <i class="fas fa-microphone my-auto"></i>
                        </div>
                        <!-- / message input zone -->
                    </div>
                    <!-- / main -->
                </div>
            </div>
        </div>
        <!-- / main app-container -->
    </div>

    <script src="js/script.js"></script>
</body>
</html>